#home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
p {
  margin-top: 1.5em;
}
a {
  color: rgba(0,0,0,0.4);
  font-weight: bold;
  font-size: 16px;
  color: $dgreen;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}
h1 {
  color: $green;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
h2 {
  color: $dgreen;
}
